.lds-ripple {
    display: block;
    position: absolute;
    top: calc(50% - 72px);
    left: calc(50% - 72px);
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 8px solid #4291F8;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.4s;
}

@keyframes lds-ripple {
    0% {
        top: 72px;
        left: 72px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 0;
        width: 144px;
        height: 144px;
        opacity: 0;
    }
}